<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2340.shoppingwithfriends" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activies.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.Registration"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MainScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.Friends"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Friends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.AddFriend"
            android:label="@string/title_activity_add_friend" >
        </activity>
        <activity
            android:name=".activies.FriendDetail"
            android:label="@string/friend_detail" >
            <intent-filter>
                <action android:name="android.intent.action.FriendDetail"/>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
            </activity>
        <activity android:name=".activies.AddItem"
            android:label="Add Item">
            <intent-filter>
                <action android:name="android.intent.action.AddItem"/>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
            </activity>
        <activity android:name=".activies.ItemList_Personal"
            android:label="Items List">
            <intent-filter>
                <action android:name="android.intent.action.ItemList_Personal"/>
                <category android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
            </activity>
        <activity android:name=".activies.ItemDetail_Personal"
            android:label="Item Details">
            <intent-filter>
                <action android:name="android.intent.action.ItemDetail_Personal"/>
                <category android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
            </activity>
        <activity android:name=".activies.ItemList_Friend"
            android:label="Items List (Friend)">
            <intent-filter>
                <action android:name="android.intent.action.ItemList_Friend"/>
                <category android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
            </activity>
        <activity android:name=".activies.ItemDetail_Friend"
            android:label="Item Details (Friend)">
            <intent-filter>
                <action android:name="android.intent.action.ItemDetail_Friend"/>
                <category android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activies.SendDeal"
        android:label="Send Deal">
        <intent-filter>
            <action android:name="android.intent.action.SendDeal"/>
            <category android:name="android.intent.action.DEFAULT"/>
        </intent-filter>
    </activity>
        <activity android:name=".activies.Maps"
            android:label="Maps">
            <intent-filter>
                <action android:name="android.intent.action.Maps"/>
                <category android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>
